@import "../../../styles/tools/breakpoints";

.cars-filters {
  &--container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--gap-sm);

    justify-content: space-between;

    @media (max-width: $small) {
      grid-template-columns: 1fr;
      row-gap: var(--gap-sm);
    }
  }
}
