<section class="cars-filters--container" title="Cars Filters">
  <app-input
    label="Car name"
    name="nameFilter"
    placeholder="Enter car name"
    (valueChanged)="onValueChange($event)"
  ></app-input>
  <app-select
    label="Manufacturer"
    name="manufacturerFilter"
    (valueChanged)="onValueChange($event)"
    [options]="[
      { value: 'Ford', label: 'Ford' },
      { value: 'Mazda', label: 'Mazda' },
      { value: 'Renault', label: 'Renault' }
    ]"
  ></app-select>
  <app-select
    label="Color"
    name="colorFilter"
    (valueChanged)="onValueChange($event)"
    [options]="[
      { value: 'Black', label: 'Black' },
      { value: 'Blue', label: 'Blue' },
      { value: 'Red', label: 'Red' },
      { value: 'Yellow', label: 'Yellow' }
    ]"
  ></app-select>
  <app-select
    label="Price range"
    name="priceFilter"
    (valueChanged)="onValueChange($event)"
    [options]="[
      { value: '$0 to $20.000,00', label: '$0 to $20.000,00' },
      {
        value: '$20.000,01 to $50.000,00',
        label: '$20.000,01 to $50.000,00'
      },
      {
        value: '$50.000,01 to $125.000,00',
        label: '$50.000,01 to $125.000,00'
      }
    ]"
  ></app-select>
</section>
