@import "../../../styles/tools/breakpoints";
@import "../../../styles/tools/animations";

.sidebar {
  padding: var(--gap-xs);

  &__nav {
    margin-top: var(--gap-lg);

    @media (max-width: $small) {
      margin-top: var(--gap-md);
    }

    &__item {
      display: flex;
      justify-content: center;

      & + & {
        margin-bottom: var(--gap-sm);
      }
    }

    &__link {
      width: 43px;
      height: 43px;
      box-sizing: content-box;

      text-align: center;

      &__img {
        width: 43px;
        height: 43px;
        margin-bottom: var(--gap);
      }
    }
  }

  @media (max-width: $small) {
    display: none;

    &.active {
      animation: move-right 0.5s forwards;
      display: flex;
      flex-direction: column;
      padding: var(--gap-xs);
      height: 100%;
      box-sizing: content-box;
      position: absolute;
      z-index: 10;
      background: white;
      -webkit-animation: move-right 0.5s forwards;
    }
  }
}
