@import "../../../assets/styles/settings/colors";
@import "../../../assets/styles/tools/breakpoints";
@import "../../../assets/styles/tools/animations";

.dashboard-layout {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 1;

  &__content {
    background: $support;
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
    position: relative;
    z-index: 1;

    @media (max-width: $small) {
      &.active {
        animation: dark-in 0.5s forwards;
        -webkit-animation: dark-in 0.5s forwards;
      }
    }
  }

  &.modal {
    animation: dark-in 0.5s forwards;
    -webkit-animation: dark-in 0.5s forwards;
  }
}
