@import "../../styles/tools/animations";

.modal-block {
  display: none;

  &.active {
    display: block;
    animation: fade-down 0.3s forwards;
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 50%;
    background: white;
    max-width: 682px;
    margin-left: -341px;
    width: 100%;
    padding: var(--gap-md);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    -webkit-animation: fade-down 0.3s forwards;
  }
}
