@import "../../../assets/styles/tools/breakpoints";

.modal-block {
  display: none;

  &--active {
    display: block;
    animation: fade-down 0.3s forwards;
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 50%;
    background: red;
    max-width: 682px;
    margin-left: -341px;
    width: 682px;
    padding: var(--gap-md);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    -webkit-animation: fade-down 0.3s forwards;

    @media (max-width: $small) {
      width: 85%;
      left: 50%;
      margin-left: -42.5%;
    }
  }
}
