@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes move-right {
  from {
    opacity: 0;
    transform: translateX(-181px);
    -webkit-transform: translateX(-181px);
    -moz-transform: translateX(-181px);
    -ms-transform: translateX(-181px);
    -o-transform: translateX(-181px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes dark-in {
  from {
    filter: inital;
    -webkit-filter: inital;
  }

  to {
    filter: brightness(25%);
    -webkit-filter: brightness(25%);
  }
}
