@import "../../styles/tools/breakpoints";

.cars-results {
  padding: var(--gap-lg) 0;
}

.cars-results-title {
  margin-bottom: var(--gap-md);
}

.cars-results-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    text-align: center;
    opacity: 0.85;
  }
}

.add-car-button {
  @media (max-width: $small) {
    width: 100%;
    justify-content: center;
  }
}
