@import "./styles/settings/colors";
@import "./styles/settings/fonts";
@import "./styles/tools/breakpoints";
@import "./styles/tools/gaps";
@import "./styles/tools/animations";
@import "./styles/generic/reset";
@import "./styles/base/elements";
